AUTH0_CLIENT_ID=ZnEcvB8Grx7mxk3Q4YNvZ9zchDVuODGa
AUTH0_CLIENT_SECRET=x6jG-key-removed-4j7X
AUTH0_DOMAIN=dev-eb2gu5pnlbxrnpob.us.auth0.com
APP_SECRET_KEY=ALongRandomlyGeneratedString

DATABASE_URL=sqlite:///data.db
PORT=3000