<div class="rvt-layout__wrapper [ rvt-m-tb-xxl ]">
    <div class="rvt-container-sm">

        <!-- **********************************************************
            Suggested links
        *********************************************************** -->

        <div class="rvt-row rvt-m-top-xl">

            <!-- ******************************************************
                Link
            ******************************************************* -->

            <!-- TODO: Add link to ServiceNow:
            <div class="rvt-cols-6-md">
                <div class="rvt-card rvt-card--clickable rvt-card--raised [ rvt-m-bottom-lg ]">
                    <div class="rvt-card__body">
                        <h2 class="rvt-card__title">
                            <a href="#0">Submit a help ticket</a>
                        </h2>
                        <div class="rvt-card__content [ rvt-flow ]">
                            <p>Send a help request to our support staff using ServiceNow.</p>
                        </div>
                    </div>
                </div>
            </div>
            -->
            <!-- ******************************************************
                Link
            ******************************************************* -->

            <div class="rvt-cols-6-md">
                <div class="rvt-card rvt-card--clickable rvt-card--raised [ rvt-m-bottom-lg ]">
                    <div class="rvt-card__body">
                        <h2 class="rvt-card__title">
                            <a href="https://github.com/Geochemical-Modeling/PHREEQC_dataviz_website">Open an issue on GitHub</a>
                        </h2>
                        <div class="rvt-card__content [ rvt-flow ]">
                            <p>If you have a GitHub account, you can file a bug report on the website's repository page.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ******************************************************
                Link
            ******************************************************* -->

            <div class="rvt-cols-6-md">
                <div class="rvt-card rvt-card--clickable rvt-card--raised [ rvt-m-bottom-lg ]">
                    <div class="rvt-card__body">
                        <h2 class="rvt-card__title">
                            <a href="#0">Contact the Lab Directly</a>
                        </h2>
                        <div class="rvt-card__content [ rvt-flow ]">
                            <p>This tool is still a work in progress so please only contact us directly if there is a major issue you need to report!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>