<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Submission web form1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/components.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/EHTIpoleBatch.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}" />
    <style>
        .joblabel {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 4px;
            color: white;
            font-family: Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            font-weight: bold; /* Bold font */
            width: 100px; /* Fixed width for all labels */
        }
        .jobcanceled {
            background-color: grey;
        }
        .jobdone {
            background-color: green;
        }
        .jobarchived {
            background-color: #FF8C00;
        }
        li {
          margin-top: 3px;
          margin-bottom: 3px;
        }
 
  </style>
  </head>
  <body>
    <div class="columnhome-one">
      <header class="headerhome_one">
        <a href="{{ url_for('website.dashboard') }}">
          <img src="{{ url_for('static', filename='ehtipolebatch/public/images/img_home.svg') }}" alt="Home" class="home_one" />
          <span class="dashboard ui heading size-headingxs">Dashboard</span>
      </a>
    </header>
      <div class="column">
        <div class="columndatacolle">
          <div class="columnipolebatc">
            <div class="rowipolebatch">
              <h1 class="ipolebatch ui heading size-headings">Experiments</h1>
            </div>
            <h2 class="date ui heading size-textxs">{{ datestr }}</h2>
          </div>
          <div class="columntitle">
            <h2 class="datacollection ui heading size-headings">Runing Experiments</h2>
            {% if message['running'] == 0 %}
            <div id="no_experiment"> 
              <br/> 
              <p class="selecta ui heading size-texts"><span style="color:green;"><strong>&#x1F6C8;</strong></span> No experiments found, plesse create experiments with the applications on Dashboard.</p>
              </div>
              {% endif %}
            {% if message['running'] > 0 %}
            <div id="running">
              <p class="selecta ui heading size-texts">Jobs in HTcondor:</p><br>
              <ul>
                {% for item in message['runningExperiments'] %}
                <li><a href="{{ url_for('website.experiment', experimentid = item['ID']) }}"><strong>ExperimentID:</strong> {{item["ID"]}} <strong>Submit time:</strong> {{item["SUBMITTED"]}} <strong>Done:</strong> {{item["DONE"]}}</a></li>
                {% endfor %}
              </ul>
              <br>
              <p class="selecta ui heading size-texts"><span style="color:green;"><strong>&#x1F6C8;</strong></span> Click the experiment to check the status in HTCondor.</p>
            </div>
            {% endif %}
          </div>            
            <div class="lineeightyfive"></div>
            <div class="columntitle">
              {% if message['recents'] > 0 %}
              <h2 class="datacollection ui heading size-headings">Recent Experiments</h2>
              <div id="recents" style="width:80%">
                <ul>
                  {% for item in message['recents_jobstatus'] %}
                  <li>
                    {% if item['jobstatus'] == "finished" %}
                    <span class="joblabel jobdone">Done</span>
                    {% elif item['jobstatus'] == "canceled" %}
                    <span class="joblabel jobcanceled">Canceled</span>
                    {% else %}
                    <span class="joblabel jobarchived">Archived</span>
                    {% endif %}
                    <a href="{{ url_for('website.experiment', experimentid = item) }}"><strong>ExperimentID:</strong> {{item['jobid']}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </div>              

        </div>
      </div>
    </div>

  </body>
</html>
