<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Eht gateway - job status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/sweetalert2.all.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtjobstatus/css/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtjobstatus/css/font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtjobstatus/css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtjobstatus/css/components.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtjobstatus/css/EHTGatewayJobStatus.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}" />

  </head>
  <body>
    <div class="eht-gateway-job">
      <div>
        <header class="headerhome_one">
          <a href="{{ url_for('website.dashboard') }}">
            <img src="{{ url_for('static', filename='ehtjobstatus/public/images/img_home_white_a700.svg') }}" alt="Home" class="home_one" />
            <span class="dashboard ui heading size-headingxs">Dashboard</span>
        </a>
        </header>
      </div>
      <div>
        <div class="columnview_one">
          <div class="row55twentynine container-xs">
            <div class="columnjobstatus">
              <div class="rowjobstatus">
                <h2 class="jobstatus ui heading size-headingmd">Job Status</h2>
                <p class="experimentx ui text size-texts">"{{message['job']['experimentName']}}" submitted on {{message['status']['SUBMITTED']}}</p>
              </div>
              <div class="stackview">
                <div class="rowview">
                  <div class="view"></div>
                  <div class="stackdone">
                    <div class="columndone">
                      <div class="rowdone">
                        <h3 class="done ui heading size-headinglg">Done</h3>
                        <h3 class="ui heading size-headinglg"><pre>  Run</pre></h3>
                        <h3 class="ui heading size-headinglg">Hold</h3>
                        <h3 class="total ui heading size-headinglg">Total</h3>
                      </div>
                      <div class="rowdone">
                        <h3 class="done ui heading size-headingmd">{{message['status']['DONE']}}</h3>
                        <h3 class="ui heading size-headingmd">{{message['status']['RUN']}}</h3>
                        <h3 class="ui heading size-headingmd">{{message['status']['HOLD']}}</h3>
                        <h3 class="total ui heading size-headingmd">{{message['status']['TOTAL']}}</h3>
                        </div>

                      <!-- <div class="row_one">
                        <p class="class-55twentynine ui text size-textmd">{{message['status']['DONE']}}</p>
                        <div class="rowzipcode">
                          <p class="zipcode-1 ui text size-textmd">{{message['status']['RUN']}}</p>
                          <p class="zipcode-2 ui text size-textmd">{{message['status']['HOLD']}}</p>
                          <p class="class-55twentynine ui text size-textmd">{{message['status']['TOTAL']}}</p>
                        </div>
                      </div> -->
                    </div>
                    <div class="rowline108_one">
                      <div class="line108_one"></div>
                      <div class="line109_one"></div>
                      <div class="line109_one"></div>
                    </div>
                  </div>
                </div>
                <div class="flex-col-center-center column55twentyn">
                  <h6 class="class-55twentynine ui heading size-headingxl">{{ '%0.2f' | format(message["outputs"]["num"]/message['job']['expectedOutput']*100.0) }}%</h6>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="rowvalidate">
              <button class="flex-row-center-center validate_enable" id="bn-release" onclick="releasejob()" title="Releases jobs from the held state to run again">Retry Hold</button>
              <button class="flex-row-center-center validate_enable" id="bn-stop" onclick="stopjob()" title="Mark job as finished; the outputs will be sent to Gateway.">Stop Job</button>
              <button class="flex-row-center-center validate_enable" id="bn-kill" onclick="killjob()" title="Kill the job and delete the outputs">Kill Job</button>
            </div>          
              </div>
      </div>
    <div class="stacksubmission container-xs">
            <div class="rowsubmission">
              <div class="columnsubmissio">
                <h4 class="ui heading size-headings">Submission Details</h4>
                <div class="columnusername">
                  <p class="ui text size-textxs">Application: {{message['job']['application']}}</p>
                  <p class="ui text size-textxs">Data Collection: {{message['job']['dataCollection']}}</p>
                  <p class="ui text size-textxs">Data Set: {{message['job']['dataset']}}</p>
                  <p class="ui text size-textxs">Expected Output Size: {{message['job']['outputSize']}}</p>
                </div>
              </div>
              <div class="columnapplicati">
                <div class="rowplaceholder">
                  <p class="ui text size-textxs">Submission time: {{message['status']['SUBMITTED']}}</p>
                  <p class="ui text size-textxs">Report Time: {{ message['status']['reportTime'] }}</p>
                </div>
                </div>

              </div>
            </div>
            <div class="view_one"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      //get experimentid from the page url
      function get_experimentid() {
        // Get the current URL path (e.g., "/user/john")
        const path = window.location.pathname;
        // Split the path into segments using "/" as the delimiter
        const segments = path.split('/');
        // The last segment is "john"
        const username = segments[segments.length - 1];
        console.log(username); // Output: "john"  
      }

      // kill job by id
      function killjob() {
        //get the expriment id
        var eid = "{{message['job']['experimentId']}}";
        Swal.fire({
          title: "Kill the Job",
          text: "You won't be able to revert this! All the output will be deleted!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          //cancelButtonColor: "#d33",
          confirmButtonText: "Yes, kill it!"
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "Killed!",
              text: "Job: " + eid + " has been killed.",
              icon: "success"
            });
          }
        });
      }

      //stop job by id
      function stopjob() {
        //get the expriment id
        var eid = "{{message['job']['experimentId']}}";
        Swal.fire({
          title: "Stop the Job",
          text: "Mark job as finished, the outputs will be sent to Gateway.",
          icon: "info",
          showCancelButton: true,
          //confirmButtonColor: "#3085d6",
          //cancelButtonColor: "#d33",
          confirmButtonText: "Yes!"
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "Finished!",
              text: "Job: " + eid + " has been marked as finished. The output will be moved to Gateway soon.",
              icon: "success"
            });
          }
        });
      }

      //stop job by id
      function releasejob() {
        //get the expriment id
        var eid = "{{message['job']['experimentId']}}";
        Swal.fire({
          title: "Release Hold",
          text: "Releases jobs from the held state back to idle to allow the jobs to be matched to resources and executed again.",
          icon: "info",
          showCancelButton: true,
          //confirmButtonColor: "#3085d6",
          //cancelButtonColor: "#d33",
          confirmButtonText: "Yes!"
        }).then((result) => {
          if (result.isConfirmed) {
            Swal.fire({
              title: "Finished!",
              text: "Job: " + eid + " has been released.",
              icon: "success"
            });
          }
        });
      }
    </script>
  </body>
</html>
