<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Eht gateway - login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtlogin/css/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtlogin/css/font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtlogin/css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtlogin/css/components.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtlogin/css/EHTGatewayLogin.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}" />
    </head>
  <body>
    <div class="eht-gateway-login">
      <div class="column">
        <img src="{{ url_for('static', filename='ehtlogin/public/images/img_ellipse_10.png') }}" alt="Image" class="image" />
        <div class="columnloginwith">
          <!-- <img src="public/images/img_ellipse_33.png" alt="Image" class="image_one" /> 
           -->
           <div class="rc image_one">
            <video src="{{ url_for('static', filename='ehtlogin/public/images/loginvideo.mp4') }}" id="localVideoStream"  class="video-circle" width="683" height="579" autoplay muted loop></video>
            </div>
          <div class="row_two">
            <img src="{{ url_for('static', filename='ehtlogin/public/images/img_ellipse_11.png') }}" alt="Image" class="image_two" />
            <div class="row_one">
              <div class="row">
                <div class="rowloginwithyou">
                  <p class="loginwithyourex ui text size-textxs">Log in with your existing organizational info</p>
                  <div class="rowsigninwith"  onclick="location.href='{{ url_for('user.cilogin') }}';"">
                    <p class="signinwith ui size-textxs">Sign in with Institution Credentials</p>
                    <img src="{{ url_for('static', filename='ehtlogin/public/images/img_cilogon_2.png') }}" alt="Cilogontwo" class="cilogontwo_one" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columnprice">
        <p class="price ui text size-textxs">Log in with EHT Gateway</p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert error">
            &nbsp;{{ messages[0] }}&nbsp;<br/>
        </div>
        {% endif %}
        {% endwith %}
        <form id="loginform" style="width: 100%;" method="POST" action="{{ url_for('auth.login') }}" onsubmit="return validateForm()" >
        <div class="columnusername">
          <label class="username">
            <input name="userName" placeholder="Username or Email" type="text" required/>
          </label>
          <label class="password">
            <input name="password" placeholder="Password" type="password" required/>
          </label>
        </div>
      </form>
        <div class="rowsign_in" style="width: 100%;">
            <button type="submit" form="loginform" class="flex-row-center-center sign_in">Sign In</button>
            <p class="forgotusernameo ui text size-textxs">Forgot username or password?</p>
          </div>
      </div>
      <div class="columnlineninet">
        <div class="lineninetytwo"></div>
        <div class="rownot">
          <p class="not_registered ui text size-textxs">Not Registered?</p>
          <a href="{{ url_for('auth.signup') }}" class="flex-row-center-center create_account">Create Account</a>
        </div>
      </div>
      <div class="rowglobe_one">
        <img src="{{ url_for('static', filename='ehtlogin/public/images/img_globe.svg') }}" alt="Globe" class="globe_one" />
        <h2 class="eventhorizon ui heading size-headings">Event Horizon Telescope</h2>
      </div>
    </div>
    <script>
      function validateForm() {
        var x = document.forms["loginform"]["userName"].value;
        var y = document.forms["loginform"]["password"].value;
        if ((x == "") || (y == "")) {
          alert("Please fill in all the fields.");
        return false;
        }
      } 
    </script>
  </body>
</html>
