<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Eht gateway - register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtregister/css/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtregister/css/font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtregister/css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtregister/css/components.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtregister/css/EHTGatewayRegister.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}" />
  </head>
  <body>
    <div class="stackglobe-one">
      <div class="column_two">
        <img src="{{ url_for('static', filename='ehtregister/public/images/img_ellipse_10.png') }}" alt="Image" class="image" />
        <div class="column_one">
          <div class="container-xs">
            <div class="columnglobe_one">
              <div class="rowglobe_one">
                <img src="{{ url_for('static', filename='ehtregister/public/images/img_globe_white_a700.svg') }}" alt="Globe" class="globe_one" />
                <h1 class="eventhorizon ui heading size-headings" style="white-space: nowrap;">Event Horizon Telescope</h1>
              </div>
              <div class="row_two">
                <div class="rowusername">
                  <div class="columnprice">
                    <div class="rowprice">
                      <p class="price ui text size-textxs">Create an EHT Gateway account</p>
                      <a href="{{ url_for('auth.login') }}" class="flex-row-center-center already">Already Registered? Sign In</a>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert error"><br/>
                        <h3>&nbsp;{{ messages[0] }}, go to <a href="{{ url_for('auth.login') }}">login page</a>.&nbsp;</h3><br/></div>
                    </div>
                    {% endif %}
                    {% endwith %}
                    <form id="registerform" style="width: 100%;" method="POST" action="{{ url_for('auth.signup') }}">
                    <div class="columnusername">
                      <p class="ui text size-textxs">Username:</p>
                      <label class="username">
                        <input name="userName" placeholder="Username" type="text" required />
                      </label>
                    </div>
                    <div class="rowpassword">
                      <div class="columnpassword">
                        <p class="ui text size-textxs">Password:</p>
                        <label class="password">
                          <input name="password" placeholder="Password" type="password" required />
                          <div class="dhi-group">
                            <img src="{{ url_for('static', filename='ehtregister/public/images/img_inbox_indigo_a100.svg') }}" alt="Inbox" class="inbox" />
                          </div>
                        </label>
                      </div>
                      <div class="columnpassword">
                        <p class="ui text size-textxs">Password (again):</p>
                        <label class="username">
                          <input name="passwordagain" placeholder="Password (again)" type="password" required />
                        </label>
                      </div>
                    </div>
                    <div class="rowemail">
                      <div class="columnemail">
                        <p class="ui text size-textxs">Email Address:</p>
                        <label class="username">
                          <input name="email" placeholder="email@example.com" type="email" required />
                        </label>
                      </div>
                      <div class="columnpassword">
                        <p class="ui text size-textxs">Email Address (again):</p>
                        <label class="username">
                          <input name="emailagain" placeholder="email@example.com (again)" type="email" required />
                        </label>
                      </div>
                    </div>
                    <div class="rowpassword">
                      <div class="columnpassword">
                        <p class="ui text size-textxs">First Name:</p>
                        <label class="username">
                          <input name="firstName" placeholder="First Name" type="text" />
                        </label>
                      </div>
                      <div class="columnpassword">
                        <p class="ui text size-textxs">Last Name:</p>
                        <label class="username">
                          <input name="lastName" placeholder="Last Name" type="text" />
                        </label> 
                      </div>
                    </div>
                  </form>
                  <div class="rowcreate">
                    <button type="submit" form="registerform" class="flex-row-center-center create_account">Create Account</button> 
                    <button class="flex-row-center-center clear_form" onclick="clearform()">Clear Form</button>
                  </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="{{ url_for('static', filename='ehtregister/public/images/img_ellipse_11.png') }}" alt="Image" class="image_one" />
    </div>
          <div class="row_two">
            <div class="row_one">
              <div class="rowregisterwith container-xs">
                <p class="registerwithyou ui text size-textxs">Register with your existing organizational info</p>
                <div class="rowregisterwith-1" onclick="location.href='{{ url_for('user.cilogin') }}';">
                  <h2 class="registerwith ui heading size-headingxs">Register with Institution Credentials</h2>
                  <img src="{{ url_for('static', filename='ehtregister/public/images/img_cilogon_3.png') }}" alt="Cilogonthree" class="cilogonthree" />
                </div>
              </div>
            </div>
          </div>
  <script>
  function clearform() {
    document.getElementById("registerform").reset();
  }
  function opencilogon() {
    alert("cilogon");
  }
  </script>
  </body>
</html>
