<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EhtGateway - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehthome/css/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehthome/css/font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehthome/css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehthome/css/components.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehthome/css/EHTGatewayHome.css') }}" />
  </head>
  <body>
    <div class="eht-gateway-home">
      <header class="headercalculato">
        <div class="row">
          <div class="rowcalculator">
            <img src="{{ url_for('static', filename='ehthome/public/images/img_calculator.svg') }}" alt="Calculator" class="calculator_one" />
            <h5 class="eventhorizon ui heading size-headingxs">Event Horizon Telescope</h5>
          </div>
          <ul class="rowdocumentatio">
            <li>
              <a href="#">
                <p class="ui text size-texts">Documentation</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-texts">Team</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p class="ui text size-texts">Publications</p>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="rowtitle">
        <div class="stackcreate">
          <div class="stacktitle">
            <h1 class="title ui heading size-headingmd">Event Horizon Telescope</h1>
            <div class="columnvector">
              <img src="{{ url_for('static', filename='ehthome/public/images/img_vector.svg') }}" alt="Vector" class="vector_one" />
              <div class="rowdescription">
                <p class="description ui text size-textxs">
                  <span>
                    The Event Horizon Telescope is an international collaboration capturing images of black holes using
                    a virtual Earth-sized telescope.&nbsp;</span
                  >
                  <a href="#" class="description-span">Learn More</a>
                  <span> .</span>
                </p>
              </div>
            </div>
          </div>
          <div class="rowcreate">
            <a href="{{ url_for('auth.signup') }}" class="flex-row-center-center create_account">CREATE ACCOUNT</a>
            <a href="{{ url_for('auth.login') }}" class="flex-row-center-center login">LOGIN</a>
          </div>
        </div>
      </div>
      <div class="rowlearn_more">
        <div class="column_one">
          <div class="columnview">
            <div class="row_one">
              <div class="rowwhatiseht">
                <div class="columnwhatiseht">
                  <h2 class="whatiseht ui heading size-headings">What is EHT</h2>
                  <p class="description-3 ui text size-textxs">
                    A long standing goal in astrophysics is to directly observe the immediate environment of a black
                    hole with angular resolution comparable to the event horizon.<br /><br />Such observations could
                    lead to images of strong gravity effects that are expected near a black hole, and to the direct
                    detection of dynamics near the black hole as matter orbits at near light speeds.  This capability
                    would open a new window on the study of general relativity in the strong field regime, accretion and
                    outflow processes at the edge of a black hole, the existence of event horizons, and fundamental
                    black hole physics.
                  </p>
                </div>
                <div class="stackview">
                  <div class="view"></div>
                  <img src="{{ url_for('static', filename='ehthome/public/images/img_eht_array.png') }}" alt="Ehtarray" class="ehtarray_one" />
                </div>
              </div>
            </div>
            <div class="container-xs">
              <div class="rowlineninety">
                <div class="lineninety_one"></div>
                <img src="{{ url_for('static', filename='ehthome/public/images/img_globe.svg') }}" alt="Globe" class="globe_one" />
                <div class="lineninety_one"></div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="columnview_one container-xs">
              <div class="rowview_one">
                <p class="description-1 ui text size-textxs">
                  The EHT is an international collaboration that has formed to continue the steady long-term progress on
                  improving the capability of Very Long Baseline Interferometry (VLBI) at short wavelengths in pursuit
                  of this goal.  This technique of linking radio dishes across the globe to create an Earth-sized
                  interferometer, has been used to measure the size of the emission regions of the two supermassive
                  black holes with the largest apparent event horizons: SgrA* at the center of the Milky Way and M87 in
                  the center of the Virgo A galaxy. 
                </p>
                <div class="stackview_one">
                  <div class="view_one"></div>
                  <img src="{{ url_for('static', filename='ehthome/public/images/img_eht_meeting.png') }}" alt="Ehtmeeting" class="ehtmeeting_one" />
                </div>
                <p class="description-2 ui text size-textxs">
                  In both cases, the sizes match that of the predicted silhouette caused by the extreme lensing of light
                  by the black hole.  Addition of key millimeter and submillimeter wavelength facilities at high
                  altitude sites has now opened the possibility of imaging such features and sensing the dynamic
                  evolution of black hole accretion.  The EHT project includes theoretical and simulation studies that
                  are framing questions rooted at the black hole boundary that may soon be answered through
                  observations.
                </p>
              </div>
              <button class="flex-row-center-center learn_more">Learn more</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="sectionmedia">
          <div class="row_two">
            <div class="rowehtinthe container-xs">
              <div class="columnehtinthe">
                <h2 class="ehtinthe ui heading size-headings">EHT IN THE MEDIA</h2>
                <div class="eht_gateway">
                  <div class="columnseptember">
                    <div class="stack-1">
                      <img src="{{ url_for('static', filename='ehthome/public/images/img_image_4.png') }}" alt="Image" class="image-1" />
                      <h3 class="imagesofa ui heading size-textmd">
                        Images of a black hole reveal how cosmic beasts change over time
                      </h3>
                    </div>
                    <div class="rowseptembertwe">
                      <p class="septembertwenty ui text size-textxs">September 23, 2020</p>
                      <button class="flex-row-center-center view_article">View Article</button>
                    </div>
                  </div>
                  <div class="columnseptember">
                    <div class="stack-1">
                      <img src="{{ url_for('static', filename='ehthome/public/images/img_image_4.png') }}" alt="Image" class="image-1" />
                      <h4 class="imagesofa ui heading size-textmd">
                        Images of a black hole reveal how cosmic beasts change over time
                      </h4>
                    </div>
                    <div class="rowseptembertwe">
                      <p class="septembertwenty ui text size-textxs">September 23, 2020</p>
                      <button class="flex-row-center-center view_article">View Article</button>
                    </div>
                  </div>
                  <div class="columnseptember">
                    <div class="stack-1">
                      <img src="{{ url_for('static', filename='ehthome/public/images/img_image_4.png') }}" alt="Image" class="image-1" />
                      <h5 class="imagesofa ui heading size-textmd">
                        Images of a black hole reveal how cosmic beasts change over time
                      </h5>
                    </div>
                    <div class="rowseptembertwe">
                      <p class="septembertwenty ui text size-textxs">September 23, 2020</p>
                      <button class="flex-row-center-center view_article">View Article</button>
                    </div>
                  </div>
                </div>
                <button class="flex-row-center-center view_more_media">View More Media</button>
              </div>
            </div>
      </div>
      <div class="poweredby">
        <div class="column_three">
          <div class="columnpoweredby">
            <div class="stackpoweredby">
              <div class="stack">
                <img src="{{ url_for('static', filename='ehthome/public/images/img_image_7.png') }}" alt="Imageseven" class="imageseven_one" />
                <img src="{{ url_for('static', filename='ehthome/public/images/img_rectangle_24.png') }}" alt="Image" class="image" />
              </div>
              <h2 class="poweredby-1 ui heading size-headingxs">powered by</h2>
            </div>
            <img src="{{ url_for('static', filename='ehthome/public/images/img_image_12.png') }}" alt="Imagetwelve" class="imagetwelve_one" />
          </div>
          <div class="column_two container-xs">
            <img src="{{ url_for('static', filename='ehthome/public/images/img_image_10.png') }}" alt="Imageten" class="imageten_one" />
          </div>
        </div>
        <img src="{{ url_for('static', filename='ehthome/public/images/img_image_11.png') }}" alt="Imageeleven" class="imageeleven_one" />
        <img src="{{ url_for('static', filename='ehthome/public/images/img_image_9.png') }}" alt="Imagenine" class="imagenine_one" />
      </div>
    </div>
  </body>
</html>
