<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Submission web form1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/index.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/font.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/components.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ehtipolebatch/css/EHTIpoleBatch.css') }}" />
  </head>
  <body>
    <div class="columnhome-one">
      <header class="headerhome_one">
        <a href="{{ url_for('website.dashboard') }}">
          <img src="{{ url_for('static', filename='ehtipolebatch/public/images/img_home.svg') }}" alt="Home" class="home_one" />
          <span class="dashboard ui heading size-headingxs">Dashboard</span>
      </a>
    </header>
      <div class="column">
        <div class="columndatacolle">
          <div class="columnipolebatc">
            <div class="rowipolebatch">
              <h1 class="ipolebatch ui heading size-headings">iPole Batch</h1>
            </div>
            <h2 class="date ui heading size-textxs">{{ datestr }}</h2>
          </div>
          <div class="columntitle">
            <h2 class="datacollection ui heading size-headings">Experiment Name</h2>
            <p class="selecta ui heading size-texts">A short descriptive name for this experiment</p>
            <label class="name">
              <input name="experiment-name" id="experiment-name" placeholder="" type="text" />
            </label>
            <div class="lineeightyfive"></div>
          </div>
          <h2 class="datacollection ui heading size-headings">Data Collection</h2>
          <div class="columnselectada">
            <p class="selecta ui heading size-texts">Select a collection of data</p>
            <select id="select-datacollection" class="input_one">
              <option value="GRMHD_kharma-v3" selected>GRMHD_kharma-v3</option>
            </select>
        </div>

          <h2 class="datacollection ui heading size-headings">Data Set</h2>
          <div class="columnselectada">
            <p class="selecta ui heading size-texts">Select a data set for the data collection</p>
            <select id="select-dataset" class="input_one">
              <option value="Ma+0.5_w4">Ma+0.5_w4</option>
              <option value="Ma+0.5_w5" >Ma+0.5_w5</option>
              <option value="Ma-0.5_w4" >Ma-0.5_w4</option>
              <option value="Ma-0.5_w5" >Ma-0.5_w5</option>
              <option value="Ma+0.94_w4" selected>Ma+0.94_w4</option>
              <option value="Ma+0.94_w5" >Ma+0.94_w5</option>
              <option value="Ma-0.94_w4" >Ma-0.94_w4</option>
              <option value="Ma-0.94_w5" >Ma-0.94_w5</option>
              <option value="Ma0_w4" >Ma0_w4</option>
              <option value="Ma0_w5" >Ma0_w5</option>
            </select>
          </div>
          <h2 class="datacollection ui heading size-headings">Set Parameters</h2>
          <div class="columnselectada">
            <p class="selecta ui heading size-texts">Select a pre-configured parameter file or update a new one</p>
            <select id="select-parameters" class="input_one">
              <option value="rho0_Ma+0.5" >rho0_Ma+0.5</option>
              <option value="rho0_Ma-0.5" >rho0_Ma-0.5</option>
              <option value="rho0_Ma+0.94" selected >rho0_Ma+0.94</option>
              <option value="rho0_Ma-0.94" >rho0_Ma-0.94</option>
              <option value="rho0_Ma0" >rho0_Ma0</option>
            </select>
            <button class="flex-row-center-center upload_a_new">Upload a New File *</button>
          </div>
          <div class="lineeightyfive"></div>
          <div class="columnsettingsf" id="validation-result" style="display: none">
            <h2 class="settingsforht ui heading size-headings">Validation Result</h2>
            <p class="selecta ui heading size-texts" id="readytosubmit">        <span>
              <svg fill="green" width="16" height="16" viewBox="0 0 16 16">
                <path
                  d="M7 11.414 11.914 6.5 10.5 5.086 7 8.586l-1.5-1.5L4.086 8.5 7 11.414Z"
                ></path>
                <path
                  d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2 8a6 6 0 1 1 12 0A6 6 0 0 1 2 8Z"
                ></path>
              </svg>
            </span>
            <span id="essay-message" style="color:var(--red_900);">Your Experiment is ready to submit!</span></p>
            <textarea id="experiment-info" name="experiment-info" placeholder="Validation result" class="group103">
              Data Collection: GRMHD_kharma-v3
              Dataset: Ma+0.94_w4
              Parameters: rho0_Ma+0.94
              Total Jobs: 36000
              Estimated Output Size: 316.8 GB
            </textarea>
          </div>
            <div class="rowvalidate">
              <button class="flex-row-center-center validate_enable" id="bn-validate">Validate</button>
              <button class="flex-row-center-center submit_job" disabled id="bn-submit">Submit Job</button>
            </div>

        </div>
      </div>
    </div>
    <script>

    //submit a job by id
    function sumbit_experiment(username,eid) {
      console.log(username,eid);
      var baseurl = "/htcondor/submit/batch";
      $.ajax({
        url: baseurl,
        type: "get",
        data: {
          "userName": username,
          "experimentId": eid,
          "dryrun": 1,
        },
        beforeSend: function() {
        // disable your button here
        $('#bn-submit').prop("disabled", true);
      },
    }).done (function (results) {
        if (results['submit'] == "yes") {
          alert("The job is submitted.");
        } else {
          alert("job submission failed: " + results['submitInformation']);
        }
        let validateinfo = document.getElementById("validation-result");
            if (validateinfo.style.display == "block") {
             validateinfo.style.display = "none";}

    });
     }

      $(document).ready(function () {

        // select defult parameter files
        $("#select-dataset").change(function () {
          // the default one is the name without _w*
          let para = "rho0_" + this.value.split("_")[0];
          console.log(para);
          $("#select-parameters").val(para);
        });

        // validate
        $("#bn-validate").click(function () {
          var baseurl = "/htcondor/validate/batch";
          let experimentname = $('#experiment-name').val();
          if (experimentname == "") {
            //experimentname = $('#experiment-name').attr('placeholder');
            alert("Please fill in the experiment name.");
            return;  
          }
          let datacollection = $('#select-datacollection').val();
          let dataset = $('#select-dataset').val();
          let parameters = $('#select-parameters').val();
          let username = "{{ user.nickname }}";
          console.log(username);
          $.ajax({
            url: baseurl,
            type: "get", //send it through get method
            data: {
              "userName": username,
              "experimentName": experimentname,
              "dataCollection": datacollection,
              "dataset": dataset,
              "parameterFile": parameters,
            },
          }).done(function (results) {
            let validateinfo = document.getElementById("validation-result");
            if (validateinfo.style.display == "none") {
             validateinfo.style.display = "block";}
            var infolist = "";
            let displayfield={"Data Collection":"dataCollection","Dataset":"dataset","Parameters":"parameterFile","Total Jobs":"expectedOutput","Estimated Output Size":"outputSize"};
            for (key in displayfield) {
              infolist += key + ": " + results[displayfield[key]] + "\n"
            }
            document.getElementById("experiment-info").innerHTML = infolist;
            //enable submit button
            $('#bn-submit').removeAttr("disabled");
            $('#bn-submit').click(function(){
              sumbit_experiment(results['userName'],results['experimentId']);
            });
            // disable validate button
            // no need to disable
            //$('#bn-validate').prop('disabled', true);
        });
      });

      });

    </script>
  </body>
</html>
