{% extends "base.html" %} {% block title %}iPole Batch{% endblock %} {% block
content %}
<!-- rr -->
<div class="rvt-layout__wrapper [ rvt-p-tb-sm ]">
  <div class="rvt-bg-black-000 rvt-border-bottom rvt-p-top-sm">
    <div class="rvt-container-lg rvt-prose rvt-flow rvt-p-bottom-sm">
      <!-- **************************************************************
                Page title
            *************************************************************** -->

      <h1 class="rvt-m-top-xs">
        <i class="fa fa-rocket" style="color: green"></i> iPole - Batch
      </h1>
    </div>
  </div>
  <div class="rvt-container-sm rvt-p-tb-sm">
    <legend class="rvt-text-bold">Experiment Name</legend>
    <input
      type="text"
      id="experiment-name"
      placeholder="Experiment"
      class="rvt-text-input"
      style="width: 60%"
    />
    <div class="rvt-inline-alert rvt-inline-alert--info">
      <span class="rvt-inline-alert__icon">
        <svg fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
          <path d="M9 7v5H7V7h2ZM8 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2Z"></path>
          <path
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6a6 6 0 1 0 0 12A6 6 0 0 0 8 2Z"
          ></path>
        </svg>
      </span>
      <span class="rvt-inline-alert__message" id="info-message">please set a concise experiment name.</span>
    </div>
    <hr />
    <br />
    <!-- select dataset -->
    <legend class="rvt-text-bold">Data Collection</legend>
    <select id="select-datacollection" class="rvt-select" style="width: 60%">
      <option value="GRMHD_kharma-v3" selected>GRMHD_kharma-v3</option>
    </select>
    <br />
    <legend class="rvt-text-bold">Data Set</legend>
    <select id="select-dataset" class="rvt-select" style="width: 60%">
      <option value="Ma+0.5_w4">Ma+0.5_w4</option>
      <option value="Ma+0.5_w5" >Ma+0.5_w5</option>
      <option value="Ma-0.5_w4" >Ma-0.5_w4</option>
      <option value="Ma-0.5_w5" >Ma-0.5_w5</option>
      <option value="Ma+0.94_w4" selected>Ma+0.94_w4</option>
      <option value="Ma+0.94_w5" >Ma+0.94_w5</option>
      <option value="Ma-0.94_w4" >Ma-0.94_w4</option>
      <option value="Ma-0.94_w5" >Ma-0.94_w5</option>
      <option value="Ma0_w4" >Ma0_w4</option>
      <option value="Ma0_w5" >Ma0_w5</option>
    </select>
    <br />
    <legend class="rvt-text-bold">Set Parameters</legend>
    <select id="select-parameters" class="rvt-select" style="width: 60%">
      <option value="rho0_Ma+0.5" >rho0_Ma+0.5</option>
      <option value="rho0_Ma-0.5" >rho0_Ma-0.5</option>
      <option value="rho0_Ma+0.94" selected >rho0_Ma+0.94</option>
      <option value="rho0_Ma-0.94" >rho0_Ma-0.94</option>
      <option value="rho0_Ma0" >rho0_Ma0</option>
    </select>

    <br />
    <div class="rvt-file" data-rvt-file-input="example-file-input">
      <input
        type="file"
        data-rvt-file-input-button="example-file-input"
        id="example-file-input"
        aria-describedby="file-description"
      />
      <label for="example-file-input" class="rvt-button">
        <span>Upload a parameter file</span>
        <svg fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
          <path
            d="M2 1h8.414L14 4.586V15H2V1Zm2 2v10h8V7.5H7.5V3H4Zm5.5 0v2.5H12v-.086L9.586 3H9.5Z"
          ></path>
        </svg>
      </label>
      <div
        class="rvt-file__preview"
        data-rvt-file-input-preview="example-file-input"
        id="file-description"
      >
        No file selected
      </div>
    </div>
    <br />
    <div class="rvt-inline-alert rvt-inline-alert--info">
      <span class="rvt-inline-alert__icon">
        <svg fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
          <path d="M9 7v5H7V7h2ZM8 4a1 1 0 1 0 0 2 1 1 0 0 0 0-2Z"></path>
          <path
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6a6 6 0 1 0 0 12A6 6 0 0 0 8 2Z"
          ></path>
        </svg>
      </span>
      <span class="rvt-inline-alert__message" id="info-message"
        >Select the preconfiged paramters or upload a new one. Use <a href="{{ url_for('static', filename='data/rho0_Ma0.tsv') }}">this sample file</a> for reference.</span
      >
    </div>

    <!-- end of rdm -->
    <hr />
    <div id="validation-result" style="display: none">
      <!-- Success -->
      <label for="textarea-success" class="rvt-label"
        >Validation: <span class="rvt-badge rvt-badge--success">Success</span>
      </label>
      <textarea
        id="experiment-info"
        class="rvt-textarea rvt-validation-success"
      readonly style="font-size:120%;"></textarea>
      <div class="rvt-inline-alert rvt-inline-alert--success">
        <span class="rvt-inline-alert__icon">
          <svg fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
            <path
              d="M7 11.414 11.914 6.5 10.5 5.086 7 8.586l-1.5-1.5L4.086 8.5 7 11.414Z"
            ></path>
            <path
              d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2 8a6 6 0 1 1 12 0A6 6 0 0 1 2 8Z"
            ></path>
          </svg>
        </span>
        <span class="rvt-inline-alert__message" id="essay-message"
          >Your Experiment is ready to submit.</span
        >
      </div>
      <br />
    </div>
    <div class="rvt-button-group">
      <button class="rvt-button" id="bn-validate">Validate</button>
      <button class="rvt-button rvt-button--success" id="bn-submit" disabled>
        Submit
      </button>
    </div>
  </div>
</div>

  <script>
    function init_experimentname() {
        let inputstr = document.getElementById("experiment-name");
        const d = new Date();
        const localTimeStr = d.toISOString();
        inputstr.placeholder = "Experiment on " + localTimeStr;
    }

    //submit a job by id
    function sumbit_experiment(username,eid) {
      console.log(username,eid);
      var baseurl = "/htcondor/submit/batch";
      $.ajax({
        url: baseurl,
        type: "get",
        data: {
          "userName": username,
          "experimentId": eid,
        },
    }).done (function (results) {
        if (results['submit'] == "yes") {
          alert("The job is sent to OSG access point, it may take several minutes to finish submitting.");
        } else {
          alert("job submission failed: " + results['submitInformation']);
        }
        $('#bn-submit').prop("disabled", true);
        $('#bn-validate').removeAttr("disabled");
        let validateinfo = document.getElementById("validation-result");
            if (validateinfo.style.display == "block") {
             validateinfo.style.display = "none";}

    });
     }

      $(document).ready(function () {

        init_experimentname();
        $("#select-dataset").change(function () {
          // the default one is the name without _w*
          let para = "rho0_" + this.value.split("_")[0];
          console.log(para);
          $("#select-parameters").val(para);
        });

        $("#bn-validate").click(function () {
          var baseurl = "/htcondor/validate/batch";
          let experimentname = $('#experiment-name').val();
          if (experimentname == "") {experimentname = $('#experiment-name').attr('placeholder');}
          let datacollection = $('#select-datacollection').val();
          let dataset = $('#select-dataset').val();
          let parameters = $('#select-parameters').val();
          let username = document.getElementById("usernickname").innerText;
          console.log(username);
          $.ajax({
            url: baseurl,
            type: "get", //send it through get method
            data: {
              "userName": username,
              "experimentName": experimentname,
              "dataCollection": datacollection,
              "dataset": dataset,
              "parameterFile": parameters,
            },
          }).done(function (results) {
            let validateinfo = document.getElementById("validation-result");
            if (validateinfo.style.display == "none") {
             validateinfo.style.display = "block";}
            var infolist = "";
            let displayfield={"Data Collection":"dataCollection","Dataset":"dataset","Parameters":"parameterFile","Total Jobs":"expectedOutput","Estimated Output Size":"outputSize"};
            for (key in displayfield) {
              infolist += key + ": " + results[displayfield[key]] + "\n"
            }
            document.getElementById("experiment-info").innerHTML = infolist;
            //enable submit button
            $('#bn-submit').removeAttr("disabled");
            $('#bn-submit').click(function(){
              sumbit_experiment(results['userName'],results['experimentId']);
            });
            // disable validate button
            $('#bn-validate').prop('disabled', true);

        });
      });
    });
  </script>
  {% endblock %}
